# ======================================
# Main Service
# ======================================
MAIN_DB_HOST=localhost
MAIN_DB_PORT=6433
MAIN_DB_NAME=main-service
MAIN_DB_USER=test
MAIN_DB_PASSWORD=test
MAIN_SERVER_PORT=0

# ======================================
# Stats Server
# ======================================
STATS_DB_HOST=localhost
STATS_DB_PORT=6432
STATS_DB_NAME=stats
STATS_DB_USER=test
STATS_DB_PASSWORD=test
STATS_SERVER_PORT=9090

# ======================================
# External Services
# ======================================
STATS_SERVER_URL=http://localhost:9090