# =========================
# Main Service
# =========================
MAIN_DB_HOST=localhost
MAIN_DB_PORT=6433
MAIN_DB_NAME=main-service
MAIN_DB_USER=test
MAIN_DB_PASSWORD=test

# =========================
# User Service
# =========================
USER_DB_HOST=localhost
USER_DB_PORT=6434
USER_DB_NAME=user-service
USER_DB_USER=test
USER_DB_PASSWORD=test

# =========================
# Event Service
# =========================
EVENT_DB_HOST=localhost
EVENT_DB_PORT=6435
EVENT_DB_NAME=event-service
EVENT_DB_USER=test
EVENT_DB_PASSWORD=test

# =========================
# Request Service
# =========================
REQUEST_DB_HOST=localhost
REQUEST_DB_PORT=6437
REQUEST_DB_NAME=request-service
REQUEST_DB_USER=test
REQUEST_DB_PASSWORD=test

# =========================
# Analyzer
# =========================
STATS_DB_HOST=localhost
STATS_DB_PORT=6432
STATS_DB_NAME=analyzer
STATS_DB_USER=test
STATS_DB_PASSWORD=test